<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>    
    <script src="{{url_for('static', filename='chat.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>WELCOME TO THE CHAT</h1>

   
    <input type="text" id="inputText" placeholder="Enter text...">
    <button id="submitButton">Submit</button>
    <div id="output"></div>

    <form action="/logout" method="post">
        <h1>WANT TO LOG OUT?</h1>
        <button>YES</button>
    </form>
</body>
</html>