<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>    
    <script src="{{url_for('static', filename='friends.js')}}"></script>
    <script src="{{url_for('static', filename='chat.js')}}" defer></script>
    <link rel="stylesheet" href="{{url_for('static', filename='chat.css')}}">
</head>
<body>
    
    <h1>Hi {{ user }}, you currently have {{ friend_count }} friends.</h1>
    <br><br><br>

    <div id="currentFriendRequestContainer">
        <h3>{{currentFriendRequest}}</h3>
    </div>
    
    <div id="friendsContainer">
        <h1>Current Friends:</h1>
        {% for i in listOfCurrentUsersFriends %}
            <p>{{i}}</p>
            
            <form action="http://127.0.0.1:5000/generateLink", method="POST">
                <input type="hidden" name="friendToChat" value="{{i}}">
                <button>Message</button>    
            </form>
            <br>
        {% endfor %}
    </div>


    {% if currentFriendRequest == "No Friend Request Sent."%}
    {% else %}
    <form action="http://127.0.0.1:5000/acceptFriendRequest" method="post">
        <input type="hidden" name="currentFriendRequest" value="{{currentFriendRequest}}">
        <button type="submit" value="Submit">Yes</button>
    </form>
    <form action="http://127.0.0.1:5000/declineFriendRequest" method="post">
        <button type="submit" value="Submit">No</button>
    </form>
    {% endif %}


    <div id="friendsContainer" class="scrollable">
    </div>
  
    <div id="chatContainer">
      <div id="messagesContainer" class="scrollable"></div>
      <div id="inputContainer">
        <input type="text" id="messageInput" placeholder="Type a message...">
        <button id="sendMessage" onsubmit="sendMessage()">Send</button>
      </div>
      <button id="closeChat" onclick="closeChat()">X</button>
    </div>

</body>
</html>