<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <h1>LOGIN USER</h1>
    <form action="login" method="post">
        <div>
            <h1>username:</h1>
            <input type="username" name="username">
        </div>
        
        <div>
            <h1>password:</h1>
            <input type="password"  name="password">
        </div>
        <br><br>
        <button>Enter</button>
    </form>

    {% with messages = get_flashed_messages() %}
  {% if messages %}
    <div class="flash-messages">
      {% for message in messages %}
        <p class="flash-message">{{ message }}</p>
      {% endfor %}
    </div>
  {% endif %}
{% endwith %}

    <form action="http://127.0.0.1:5000/register" method="get">
        <h1>MAKE AN ACCOUNT INSTEAD?</h1>
        <button type="submit">YES</button>
    </form>
</body>
</html>