<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='profile.css')}}">
    <script src="{{url_for('static', filename='changeProfileSettings.js')}}" defer></script>
</head>
<body>
    
    <h1> {{ user }} </h1>
    
    <div id="userProfileImageContainer">
        <p>
            What about your pfp? Here it is!
            <img src="{{pfp}}" alt="No Image" id="userProfileImage"></img>
        </p>
        <input type="hidden" id="changeUserProfileImage">
        <button id="submitUserProfileImageChanges">Change</button>
    </div>

    <div id="userProfileDescriptionContainer">
        <p id="userProfileDescription">{{ desc }}</p> <!-- Desc goes here-->  
        <form action="http://127.0.0.1:5000/changeUserData" method="post">
            <input type="hidden" name="changed_description" id="changeUserProfileDesc">  
            <button id="submitUserProfileDescChanges">Change</button>
        </form>
    </div>
    
    <div id="userProfileFriendCountContainer">
        <p id="userProfileFriendCount">
            Friends: {{ friend_count }}<!-- Friend count goes here-->
        </p>
    </div>

    {% if currentUser == user %}
        <div id="userProfileButtonContainer">
            <button id="changeUserProfileButton"> Change settings </button>
        </div>
    {% elif is_other_user_friend == False %}
    <div id="makeFriendRequestContainer">
        <form action="http://127.0.0.1:5000/sendFriendRequest" method="post">
            <!-- input types are needed so that data can pass to main.py -->
            <input type="hidden" name="user" value="{{user}}">
            <input type="hidden" name="currentUser" value="{{currentUser}}">
            <button id="addFriendRequestButton"> Add Friend </button>
        </form>
    </div>
    {% endif %}
</body>
</html>